! Import color scheme for rxvt-unicode
#include ".Xresources.d/color_schemes/base16-faded"

! Set colors for rxvt-unicode
URxvt.color0: color_black
URxvt.color1: color_red
URxvt.color2: color_green
URxvt.color3: color_yellow
URxvt.color4: color_blue
URxvt.color5: color_magenta
URxvt.color6: color_cyan
URxvt.color7: color_white
URxvt.color8: color_bright_black
URxvt.color9: color_bright_red
URxvt.color10: color_bright_green
URxvt.color11: color_bright_yellow
URxvt.color12: color_bright_blue
URxvt.color13: color_bright_magenta
URxvt.color14: color_bright_cyan
URxvt.color15: color_bright_white
URxvt.foreground: color_foreground
URxvt.background: color_background
URxvt.cursorColor: color_cursor

! Appearance for rxvt-unicode
URxvt.font: xft:UW Ttyp0:pixelsize=16
URxvt.scrollBar: false
